@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 218 14% 16%;
    --foreground: 219 14% 71%;

    --muted: 218 12% 20%;
    --muted-foreground: 218 12% 70%;

    --popover: 218 14% 13%;
    --popover-foreground: 219 14% 81%;

    --card: 218 14% 14%;
    --card-foreground: 219 14% 76%;

    --border: 218 4% 21%;
    --input: 218 4% 24%;

    --primary: 220 13% 86%;
    --primary-foreground: 220 13% 26%;

    --secondary: 220 3% 25%;
    --secondary-foreground: 220 3% 85%;

    --accent: 218 14% 31%;
    --accent-foreground: 218 14% 91%;

    --destructive: 10 85% 46%;
    --destructive-foreground: 0 0% 100%;

    --ring: 220 13% 86%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
